table, th, td {
    border: 1px solid black;
}

table tr.cant-fit {
    display: none;
}
table.no-unquirked tr.no-quirks {
    display: none;
}

input.quirk-filter{
    width: 40px;
}
input.smol-number{
    width: 40px;
}

.weaponlist-available{
    overflow-y: scroll;
    height: 100px;
    /* width: 240px; */
}
.weaponlist-chosen {
    height: 100px;
    min-width: 100px;
}

